@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 35%;
    background: hsl(0, 0%, 12%);
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.head-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-content img{
    width: 50%;
    border-radius: 50%;
}

.head-content h1{
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 25px;
}

.head-content h4{
    color: hsl(75, 94%, 57%);
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 5px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.text p{
    color: hsl(0, 0%, 100%);
    font-size: 0.8rem;
}

.button-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.button-container a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    background: hsl(0, 0%, 20%);
    border-radius: 6px;
    width: 90%;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.4s ease-in-out;
}

.button-container a:hover{
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: hsl(0, 0%, 8%);
    background: hsl(75, 94%, 57%);
}

